<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo, <%= @user.firstname %></h1>
    <p>
      Unfortunately, your account has been deleted.<br>
    </p>
    <p>
      Sadly, nothing can be done to prevent this.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>