<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo, <%= @user.firstname %></h1>
    <p>
      Your shit got wrecked on the site man. Your account is deleted.<br>
    </p>
    <p>
      There is literally nothing you can do about it.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>